.navbar {
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-item {
  .navbar-dropdown {
    border: none;
    border-top: 1px solid #f2f2f2 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
}

.hero.is-primary {
  .navbar-item.has-dropdown.is-active {
    .navbar-link {
      color: $primary !important;

      &:hover {
        background-color: $primary-invert;
      }
    }
    .navbar-item {
      color: $primary !important;

      &:hover {
        color: $primary-invert !important;
      }
    }
  }
}

.dropdown-item {
  .icon.is-small {
    height: 1.5rem;
  }
}
